body {
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* Impede a rolagem lateral ao expandir */
}

.titulo {
    font-family: Arial, sans-serif;
    padding: 20px;
    border: 1px;
    border-radius: 4px;
    background-color: white;
}

.pesquisa {
    background-color: white;

    position: relative;
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center;     /* Centraliza verticalmente (dentro da div) */

    padding: 7px;
    margin: auto;       /* Centraliza a própria div na tela */
    width: fit-content;      /* Faz a largura se ajustar ao conteúdo */
    border-radius: 7px;
}

.pesquisa input:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.35);
}

.pesquisa input {
    padding: 6px 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 2px solid #aaa;
    width: 300px;

    transition: box-shadow 0.3s ease;
}

.icone_lupa {
    position: absolute;
    right: 13px;
    height: 25px;
    pointer-events: none;
    opacity: 80%;
}

.jogos {
    font-family: Arial, Helvetica, sans-serif;
}

.jogo {
    display: flex;
    align-items: flex-start;
    gap: 20px;

    padding: 20px;
    margin: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    transform-origin: center center; /* Evita deslocamento lateral */
    z-index: 1; /* Garante que fique acima de outros elementos */
    background-color: white;
    position: relative;
}

.jogo:hover {
    transform: scale(1.06);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.35);
    z-index: 10; /* Sobe o elemento para frente dos outros */
}

.jogo img {
    width: 190px;
    height: auto;
    border-radius: 8px;
    transition: transform 0.3s ease;
}

.jogo .info {
    max-width: 600px;
    font-size: large;
}

.copyright {  
    font-family: Arial, sans-serif;
    font-size: 12px;
    padding: 1px;
    border: 1px;
    border-radius: 4px;
    background-color: white;
    margin-bottom: 8px;
}